cookie_secret must be 256 bits exactly

Tornado uses SHA256 to sign the cookie, which means that the cookie_secret has to be exactly 256 bits. See [RFC4868 Section 2.1.1](https://tools.ietf.org/html/rfc4868#section-2.1.1) for details, but basically the key length should be exactly the same as the output length.

The example key in getting started was 1024 bytes, which is way too large and essentially meaningless. It should be 32.


Let's go ahead and test this when implementing #986.